<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script>
            const socket = io.connect(); // 괄호 안에 주소를 정확히 적기, 외부 ip라면 그 ip주소도 정확히
            socket.emit("joinRoom", {roomName: "myRoom"});
            socket.on('recMsg', (data) => {
                console.log(data.comment);
                $('#chat').append(data.comment);
                $('#chatList').append(`<dt>${data.comment}</dt>
                <dd>${data.msg}</dd>`);
            });
            function go(){
                socket.emit("reqMsg", {comment: $('#send').val()});
                $('#send').val('');
            }
            function enter (){
                if(event.key==="Enter"){
                    go();
                }
            }
        </script>
    </head>
    <body>
        <h1>This is Socket EJS</h1>
        <div class="container" style="background-color: aquamarine;">
            <dl id="chatList">
            </dl>
            <!-- <textarea id="chat"></textarea> -->
        </div>
        <input type="text" id="send" onkeypress="enter()">
        <button type="button">Send</button>
    </body>
</html>