<html>
    <body>
        <h1>EJS</h1>
        <h3><%= para2%></h3>
        <div style="background-color: aquamarine;">
            <%
                for (var i = 0; i < para; i++){
                    __append("<h1>" + i + "</h1><br>");
                }
            %>
        </div>
    </body>
</html>